<mat-toolbar id="footer" class="d-flex justify-content-center align-items-center" color="warn">
    <div routerLink="/">
        <span class="d-flex justify-content-center align-items-center">
        <small class="fs-6">Created with</small> 
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>favorite_border</mat-icon>
            </button>
        <small class="fs-6">by us.</small> 
        </span> 
    </div>
</mat-toolbar>
