<div id="bewertungenTitle" fxLayout="row">
    <mat-card fxFlex="100" fxLayoutAlign="center"><strong>{{ this.objectName }}</strong></mat-card>  
</div>
<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
    
    <ng-container  *ngFor="let object of this.objects; let i = index;">
        
            
                <mat-card [routerLink]="['./', this.object.sid, this.object.title]">
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                            
                            <div fxFlex="100"><div fxLayoutAlign="start center">{{ object.title }}</div></div>

                        </div>
                    </mat-card-content>
                </mat-card>
    </ng-container>
    <back-button></back-button>
</div> 