<form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="start">
                    <span fxLayoutAlign="start stretch" fxFlex="33"><span id="textHeader"><strong>Übersicht:</strong></span></span>
                    <span fxLayoutAlign="center stretch" fxFlex="33"><span id="textHeader"><strong>{{ this.objects.objectName }}</strong></span></span>
                    <span fxLayoutAlign="end" fxFlex="33"><span id="textHeader"><strong>{{ this.sname }}</strong></span></span>
                </div>
            </mat-card-content> 
        </mat-card>

        <div fxLayout="row" fxLayoutAlign="end">
            <button type="submit" mat-raised-button color="primary">Bewertung speichern!</button>
        </div>
        
        <div [formArrayName]="'rating'">
            <mat-card 
            class="matCardContent" 
            *ngFor="let object of objects.questions; let i = index;" 
            [style.border]="object.isAnswered == null ? null : object.isAnswered ? 'green 1px solid' : 'red 1px solid' "
            >
                <div 
                fxLayout="row" 
                fxLayout.lt-sm="column"
                fxLayoutAlign="start" 
                fxLayoutGap="15px"  
                [formGroupName]="i">
                    <span 
                    id="questionContainer"
                    fxFlex="50"
                    >
                    <mat-icon *ngIf="object.isAnswered == false" color="primary">close</mat-icon>
                    <mat-icon *ngIf="object.isAnswered == true" color="accent">done</mat-icon>
                        {{ object.title }}
                        
                    </span>
                    <span id="buttonContainer" fxFlex="50" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
                        <button type="button" mat-raised-button color="primary" (click)="ratingPictureDialog(i, this.object);">Nein</button>
                        <button type="button" mat-raised-button color="warn" (click)="setRating1(i)">Ja</button>
                    </span>
                </div>
            </mat-card>
        </div>
            
        <back-button></back-button>
    </div>
</form>  