#austrianLogo {
    margin-bottom: 30px;
}

#mainContent {
    max-width: 1024px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
 }

 @media (max-width: 959px) {
     img {
         height: 25px;
     }
     #mainContent {
    
        padding-left: 20px;
        padding-right: 20px;
     }
 }