<mat-dialog-content fxLayout="column" fxLayoutAlign="start" fxLayoutGap="15px">
    <span fxLayout="row" fxLayoutALign="center start" mat-dialog-title>Details</span>
    
    
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px" fxLayout.lt-lg="column" fxLayoutGap.lt-lg fxLayout.xs="column" fxLayoutGap.xs>
            <span><strong>Objekt:&nbsp;</strong></span>
            <span>{{ data.objectName}}</span>
        
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px" fxLayout.lt-lg="column" fxLayoutGap.lt-lg fxLayout.xs="column" fxLayoutGap.xs>
       
            <span><strong>RID:&nbsp;</strong></span> 
            <span>{{ data.subobjectName }}&nbsp;</span>
        
    </div>

    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px" fxLayout.lt-lg="column" fxLayoutGap.lt-lg fxLayout.xs="column" fxLayoutGap.xs>
        <span><strong>Bewertet am:&nbsp;</strong></span>
        <span>{{ data.timestamp }}</span>
    </div>

    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
        <span><strong>Fragen:</strong></span>
        <div fxLayout="row" fxFlex="100" *ngFor="let question of data.questionsForObject">
            <div fxLayoutAlign="start center" fxFlex="80">{{ question.title }}</div>
            <div fxFlex="20" fxLayoutAlign="end center" *ngIf="question.rating == 1"><mat-icon fxLayoutAlign="center center" color="warn">done</mat-icon></div>
            <div fxLayout="row" fxFlex="20" fxLayoutAlign="end center" fxLayoutGap="5px" *ngIf="question.rating == 0">
                <div (click)="showPictureDialog(question)" *ngIf="question.attachment"><mat-icon color="primary">photo_camera</mat-icon></div>
                <mat-icon color="primary">close</mat-icon>
            </div>
        </div>
        
        
    </div>

    

</mat-dialog-content>
<mat-dialog-actions id="buttonContainer" fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" mat-dialog-close=false fxLayoutAlign="end">Schließen</button>
</mat-dialog-actions>

