<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{REQUEST_URI}" pattern="^/$" negate="true" />
        </conditions>
        <action type="Rewrite" url="/goandsee/" />
      </rule>
    </rules>
  </rewrite>
        <security>
            <authentication>
                <basicAuthentication enabled="true" realm="" defaultLogonDomain="GATE01" />
                <windowsAuthentication useKernelMode="true">
                    <extendedProtection tokenChecking="None" />
                </windowsAuthentication>
            </authentication>
        </security>
  </system.webServer>
</configuration>